$primary-color: #e84c4f;
$secondary-color: #3e4462;
$third-color: #ffffff;

$text-dark: #3e4462;
$text-light: #ffffff;
$text-dark-secondary: #7e7e7e;
$text-light-secondary: #e5e5e5;

$divider: #e5e5e5;
$background: #f8f5f2;
$gold: npm run ser;
$inputs: #f7f7f7;
$success: #4caf50;
$error: #e84c4f;

$placeholder-animation: #d5d5d5;
$placeholder-background: #e5e5e5;

$app-vertical: 25px;
$app-horizontal: 20px;
$padding: 15px;
$toolbar: 64px;
